.titulo-principal{
    padding-left: 30px;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}


.titulo-centralizado{
    text-align: center;
}

p{
    text-align: center;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 15%;
}