body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #292626;
    background-position: right;
    background-repeat: no-repeat;
}
fieldset{
    background-color: beige;
}
header {
    background-color: #292626;
    padding: 10px 0;
}

nav{
   position: absolute;
   top:120px;
   right: 0 ;
}

nav li{

    display: inline;
    text-align: center;
    justify-content: flex-end;
    width: 50%;
    height: 50%;
    padding: 0 20px;
}

nav a{
    text-transform: uppercase;
    color: #FEFEFE;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #ffbd6e;
    text-decoration: underline;
}

.fondoMain{
    background-image: url('/assets/img/background.jpg'); 
    background-size:auto; 
    background-repeat: repeat; 
}

main {
    flex: 1;
}
.footer {
    background-color: #292626;
    text-align: center;
    padding: 10px 0;
}
.logo-foot {
    height: 50px;
}