body{
    background-image: url("../../img/background.jpg");
    background-size: cover; /* Ajusta la imagen para cubrir toda el área del body */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center center; /* Centra la imagen en el body */
    
}


.titulo-principal{
    padding-left: 10px;
    font-size: 12vw;
}

.titulo-secundario{
    padding-left: 10px;
    font-size: 4vw;
}

.titulo-centralizado{
    text-align: center;
}

ul{
    display: inline-flex;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}





